.others{
  color:#f7941d;text-align:center;font-weight: bold;
}
.others:hover,
.other:active{
  color:black;
}
.row-centered {
   text-align:center;
}

footer>h6{
  font-weight: bold;
}
.col-centered {
   display:inline-block;
   float:none;
   /* reset the text-align */
   text-align:left;
   /* inline-block space fix */
   margin-right:-4px;
}
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 4px solid #f7941d;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #f7941d;
}


/*.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}*/

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
 
}
.panel-group .panel-heading {
    border-bottom: 0;
     border-bottom: 2px solid #f2f2f2;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: white;
  border-radius: 0;
  border: none;
  color: black;
  padding: 0;
}

.panel-title a {
  display: block;
  color: black;
  padding: 25px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 0 0;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 0 0;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

#accordion .panel-heading a:before {
  color: #f7941d;
  content: '\f106';
  font-size: 35px;
  position: absolute;
  font-family: FontAwesome;
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}



/*PANEL*/
html {
    position: relative;
    min-height: 100%;
}


.footers {
    position: absolute;
    bottom: 1;
    width: 100%;
    /*height: 60px;*/
    line-height: 60px;
    /*background-color: #f5f5f5;*/
}
.bg-footer{
  background-color: #d8df20;
  bottom: 53px;
  position: absolute;
  width: 100%; 
}
.carousel-control.left {

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0001) 100%);

}
.carousel-control.right {
 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0) 100%);

}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
    background: #f7941e;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -10px;
    background: #f7941e;
}
.carousel-showmanymoveone
{
  .carousel-control
  { 
    width: 4%;
    background-image:none;

    &.left 
    {
      margin-left:15px;
    }

    &.right 
    {
      margin-right:15px;
    }
  }

  .cloneditem-1, 
  .cloneditem-2, 
  .cloneditem-3
  {
    display: none;
  }

  .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(50%, 0, 0);  
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-50%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }    
      } 

      > .active.left,
      > .prev
      {
        left: -50%;
      }

      > .active.right,
      > .next
      {
        left:  50%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1 
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {    
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(25%, 0, 0);  
          left: 0;
        }    

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-25%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -25%;
      }

      > .active.right,
      > .next
      {
        left:  25%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-2, 
      .cloneditem-3
      {
        display: block;
      }
    }    
  }
}

.img-thumbnail {
    border-radius: 0px;
  }
 /*demo setup only, not needed for carousel*/
/*.container
{
  margin-bottom: 50px;
}*/

/*product grid and list*/
.cnter{
  margin:auto;
}
.main-section{
    background-color: #f1f1f1;
    padding: 20px 20px 0px 20px;
}
.image-main-section{
    margin-bottom:20px;
    margin-top:20px;
}
.img-part:hover{
   background-color: #d1d2d4;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
   /* -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);*/
}
.img-part{
    /*border-radius: 5px;*/
    margin:0px;
    /*border:1px solid #DDDDDD;*/
    background-color: #fff;
    padding-bottom: 20px;
}
.img-section{
    padding: 5px;
    margin: auto;
}

.image-title h4{
    margin:0px;
    /*color:#4C4C4C;*/
    padding: 15px 0px 8px 0px;
    text-align: center;
    color: black;
}
/*.image-description p{
    color:#848484;
}*/
.buy{
  background-color: #f1f1f1;
  padding:15px 0px 15px 0px;
}

/**/
.detail-video-product{
  height:80%;
}
.sembunyi{
  display:block;
}
/*.slideshow { margin: auto;}
.slideshow>img{
  width: 450; 
}*/
.icon-footer>a {
	margin: 12px;
}
.icon-footer>a:hover,
.icon-footer>a:focus {
	  color: #555;
	  background-color: #fff;
	  padding: 10px;

	  /*border-top: 3px solid #8bc43f;*/
}
.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%; 
  border: none;
  border-radius: 0 !important;

  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid black;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: white;
  outline: none;
  box-shadow: none;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: black;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-left:none;
    border-top:none;
    border-radius:0px;   
    }

 .btn-g{
 	padding-left: 2px;
 }

.position{
  margin-left: 35%;
}
.default{
  border-radius: 0px;
  background-color: black;
  color:white;
  
}

/*form*/
.sitemaps{
	padding: 10px 0px 5px 0px;
}
.menu-footer>a{
	color: black;
	font-size: 12px;
	font-weight: bold;

}

.menu-footer>a:hover{
	color: black;
	font-weight: bold;
	 font-size: 13px;
}
/*scroll up*/
.back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
.org{
	color: #fff;
	background-color: #f7941d;
	border-color: #f7941d;
}

/*end scroll*/
.bg-green{
	background-color: #d8df20;
	
}

 .success {
  border-radius: 0px;
  display: block;
  width: 100%;
  border: 10px solid black;
  background-color: transparent;
  color: black;
  padding: 25px 40px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  margin: 40px 12px 12px 12px;
}

.header-logo{
	float: center;
    margin-top: 50px;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin:none;
}
.badge{
  background-color: black;
  /*padding: 4px;*/
  width: 100%;
}
.badges {
    display: inline-block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin:1px;
}


.breadcrumb{
  width: 10%;
  margin-top: 20px;
  background-color: #d8df20;
}

.success:hover {
  background-color: #d8df20;
  color: white;
}

.contact-detail {
    text-align: center;
    margin: 60px 0;
     font-family: arial;
}

.justify { text-align: justify;}
.slides { padding: 70px 0px 0px 0px;} 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    border-top: 3px solid #8bc43f;
}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	  color: #555;
	  background-color: #fff;
	  border-top: 3px solid #8bc43f;
	}

.navbar-default{
	background-color: #fff;
	/*border-bottom: 3.5px solid #f7941d;*/
	padding-top: 35px;
	margin-bottom: 0px;
  border-radius: 0px;
	font-family: "Verdana";

  /*border-color: #fff;*/
}
.fa-lg{
	color: #777;
}

.navbar-brand {
    float: left;
    height: 50px;
   
    font-size: 18px;
    line-height: 20px;
    padding: 0px 0px 10px 0px;
    margin: -12px 0px 12px 12px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    border-top: 3px solid white;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f7941d;
}

.navbar-default .navbar-toggle {
    border-color: #f7941d;
}
.social-links{
	padding-left: 50px;
}
.carousel-inner>.item>.slider-img {
	height: 572px;
	width: 100%;
}
.bg-grey {
    background-color: #f2f2f2;
    border-top: 20px solid white;
}

 .bg-faq{
  background-color: white;
    border-top: 20px solid white;
    background-image: url("../images/BORDER FAQ CAUTION.png");
    /* Full height */
    /*height: 100%; */
    padding-bottom: 60px;
    background-attachment: fixed;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
 }
.bg-white {
    background-color: white;
    border-top: 20px solid white;
    background-image: url("../images/img_girl.jpg");
    /* Full height */
    /*height: 100%; */
    padding-bottom: 60px;
    background-attachment: fixed;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {

    background-color: #bdbec0;
    color: white;
    padding: 10px;
}
.orange-footer{
   background-color: #f7941d;
}
.brd-top{
  background-color:#d8df20;
  border-radius:3px;
  color:#ffffff;
  display:inline-block;
  font-family:sans-serif;
  font-size:20px;
   font-weight: bold;
  line-height:30px;
  text-align:center;
  text-decoration:none;
  /*width:150px;*/
  -webkit-text-size-adjust:none;mso-hide:all;
  border-right:30px solid #c0c81d;
  margin-bottom:20px; 
  box-shadow: 5px 5px 10px #e1e1e3;
}
.brd-top:focus,
.brd-top:hover{
  color: #f7941d;
}

.thumbnail {
  padding: 0px 12px 0px 12px;
  background-color: #f2f2f2;
  border:none;
}
.play {
  background-color: white;
}
.faq{
  background-color:white;border-radius:14px;border:2px solid #f2f2f2;
}
.faq>ul{
  height:100px;
}
.faq>img{
  height: 150px;
}

.img-feature {
    width: 22%;
    padding: 5px;
}
.img-featur {
    width: 20%;
    padding: 5px;
}

.img-features {

    width: 20%;
    /*padding: 5px;*/
    background-color:white;border-radius:14px;border:2px solid #f2f2f2;
}
.img-features>ul{
  height:120px;
}
.img-features>img{
  height: 150px;
}
.h5, h5 {
   
    height: 30px;
  }

  .img-fixed{
    background-image: url(../images/Features_Header.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
     background-position: center;
    background-size: cover;
  }

  .img-fixed-2{
    /*background-image: url(../images/3duplay_Premium.png);*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    width: 100%;
    height: 80%;
     background-position: center;
    /*background-size: cover;*/
  }
  .header-head{
    display: none;
  }
  .youtube{
    width:100%;height:698px;
  }

.background-dino{
   background-image: url(../images/img_dino.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
      /*height: 100%;*/
     background-position: center;
    background-size: cover;
  
}
.background-city{
  background-image: url(../images/img_city.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100%;
      /*height: 100%;*/
     background-position: center;
    background-size: cover;
}

  .background-zoo{
    background-image: url(../images/header-zoo.png);
    background-repeat: no-repeat;
/*    background-attachment: fixed;
*/    width: 100%;
      /*height: 100%;*/
     background-position: center;
    background-size: cover;
  }

.jumbotron{
background-color: #d8df20;
padding: 90px 0px 0px 0px;
margin:0; 
}

.product{
padding: 100px 0px 0px 0px;
margin:0; 
}

.col-xs-3{
  width:20%;
  padding-right: 2px;
  padding-left: 2px;
}
/*
@media (max-width:1280px){
  .product{
    height: 76%;
  }
  .term{
    font-size: 20px;
  }
}*/
/*
@media (min-width:1440px){
  .product{
    height: 68%;
  }
}


@media (min-width:1680px){
  .product{
    height: 80%;
  }
}*/

.contact{
  height: 100%;
}

   @media (max-width:768px){
 .faq{
  padding: 2px;
 }
.faq>ul{
  height:auto;
}
.img-features>ul{
  height:auto;
}
.img-features>img{
  height: auto;
  padding: 2px;
}

.faq>img{
  height: auto;
  padding: 2px;
}
    .contact{
      height: auto;
    }
    .footers {
    position: unset;
    bottom: 0;
    width: 100%;
    /*height: 60px;*/
    line-height: 60px;
    /*background-color: #f5f5f5;*/
}
.bg-footer{
  background-color: #d8df20;
 bottom: 0;
  position: unset;
  width: 100%; 
}

    .product{
    padding-top: 60px;
    }
    
    .jumbotron{
      padding-top: 50px;
    }
    .detail-video-product{
  height:auto;
}
    .sembunyi{
      display: none;
    }
    .position{
      margin-left: 0px;
    }

    .youtube{
    width:100%;height:250px;
    background-color: orange;
  }

    .margin{
      margin: 5px 0px 15px 0px;
    }
     .header-head{
      display:inline;
      }
    .h5, h5 {
   
    height: auto;
  }
   	.success {
   		font-size: 20px;
      border: 5px solid #f7941d;
   	}
   	.bg-white{
   		 background-position: left;
   	}
    .img-fixed{
       display: none;
    }
   	.carousel-inner>.item>.slider-img {
		height: auto;
		width: 100%;
	}
  .img-feature{
    width: auto;
  }
   .img-featur{
    width: auto;
  }
  .img-features{
    width: auto;
  }
  


	.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 15px 0px 2px;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}
   	.navbar-default .navbar-nav>li>a:focus, 
	.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 3px solid #8bc43f;}
   	.navbar-default{padding-top: 0px;}
   	.navbar-semi .navbar-nav.social-links{text-align:center;padding-left: 0px;}
   	.navbar-semi .navbar-nav.social-links li{display:inline-block;border-width:0}
   	.navbar-semi .navbar-nav.social-links li a{border-width:0}}
   

   